.tableSection {
    padding: 10px 20px 60px;
    margin: 0 auto;
    max-width: 1400px;
}

.pageTitle {
    margin: 10px auto 20px;

    font-size: 50px;
    line-height: 60px;
    text-align: center;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}

.backLinkButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 6px 12px;
}

.table {
    border-collapse: collapse;
    min-width: 100%;
}

.table th,
.table td {
    padding: 6px;
    border: 1px solid;
}

.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editTD {
    display: flex;
}

