.menu {
    padding: 10px 20px;
}

.title {
    margin: 100px auto 40px;

    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.formWrapper {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectYear {
    width: 100px;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
}

.dataForm {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto 0;
}

.dataButton {
border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    padding: 6px 10px;
    border: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    min-height: 60px;

    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;

    margin: 0 0 20px;
}

.authText {
    display: inline-block;
    margin: 0 0 20px;
}