.menu {
    padding: 10px 20px;
}

.title {
    margin: 40px auto 20px;

    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.formWrapper {
    max-width: 700px;
    margin: 0 auto;
}

.selectYear {
    width: 100px;
    padding: 4px 6px;
}

.dataForm {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto 0;
}

.dataButton {
    padding: 6px;
}
