.report {
    padding: 10px 20px 60px;
}

.mainTitle {
    margin: 0 auto 20px;

    font-size: 50px;
    line-height: 60px;
    text-align: center;
}

.workshopTable {
    border-collapse: collapse;
    min-width: 100%;
}

.workshopTable th,
.workshopTable td {
    padding: 6px;
    border: 1px solid;
}

.workshopPriceContainer {
    display: flex;
    margin: 12px 0 16px;
}

.workshopPrice {
    display: block;
    margin: 0 auto 0 0;
}

.line {
    margin: 20px 0;
    color: transparent;
    border-top: 2px dashed black;
}

.allReportPrice {
    display: block;
    margin: 0 auto 0 0;
}

.allReportPriceContainer {
    display: flex;

    font-size: 30px;
    line-height: 36px;
}

.backLink {
    position: fixed;
    bottom: 20px;
    right: 20px;

    display: block;
    width: 180px;
    padding: 6px 12px;

    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-align: center;
    background-color: #d9d9d9;;
    border: 2px solid #000;
    border-radius: 4px;
    text-decoration: none;
}
